@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family:'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}
.hero{
    margin: 0 6%;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 2;
}
.logo img{
    width: 108px;
    height: 58px;
    margin-top: 5px;
}
.logo img:hover{
    cursor: pointer;
}
.right__menu{
    display: flex;
    column-gap: 40px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 14px;
    font-weight: 400;
}
.navbar{
    display: flex;
    column-gap: 30px;
    align-items: center;
}
.navbar p:hover{
    color: rgba(0, 0, 0, 0.645);
    cursor: pointer;
}
.navbar i:hover{
    color: rgba(0, 0, 0, 0.739);
    cursor: pointer;
}
.list{
    display: flex;
    column-gap: 30px;
}
.list i:nth-child(2){
    font-size: 20px;
    display: none;
}
@media (max-width:750px){
    .right__menu p{
        display: none;
    }
    .list i:nth-child(2){
        display: flex;
    }
}
.mobile__features{
    display: flex;
}
.mobile__features .left__wrapper{
    font-size: 40px;
    width: 42%;
    z-index: 1;
    animation: mobilefeatures;
    animation-iteration-count: 1;
    animation-duration: 2s;
}
@keyframes mobilefeatures{
    from{
        margin-top: 300px;
    }
}
.mobile__features .left__wrapper h1{
    line-height: 80px;
}
.mobile__features .left__wrapper p{
    font-size: 20px;
    margin-top: 25px;
    line-height: 30px;
    z-index: 2;
}
.mobile__features .left__wrapper button{
    font-weight: 400;
    color: white;
    background-color: rgb(7,48,66);
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    font-size: 13px;
    margin-top: 30px;
}
.mobile__features .left__wrapper button:hover{
    color: rgb(49,180,117);
}
.pink__circle{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-color: rgb(254,240,235);
    position: absolute;
    top: 36px;
    right: 330px;
    animation: pinkcircle;
    animation-duration: 2s;
}
.skyblue__circle{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-color: rgb(215,239,254);
    position: absolute;
    left: 360px;
    top: 490px;
    z-index: 0;
}
.brisque__circle{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-color: rgb(239,247,207);
    position: absolute;
    right: 0px;
    top: 350px;
}
.right__wrapper .phones img{
    display: flex;
    position: absolute;
    column-gap: 50px;
    height: 350px;
    top: 400px;
    left: 640px;
}
.right__wrapper .phones .second__image img{
    top: 270px;
    height: 350px;
    left: 860px;
}
.right__wrapper .phones .third__image img{
    top: 180px;
    height: 350px;
    left: 1080px;
}
@media (max-width:900px){
    .menu{
        background-color: white;
    }
    .mobile__features .left__wrapper{
        font-size: 35px;
        width: 70%;
    }
    .pink__circle{
        width: 280px;
        height: 280px;
        top: 450px;
        left: 250px;
    }
    .skyblue__circle{
        width: 280px;
        height: 280px;
        top: 640px;
        left: 40px;
    }
    .brisque__circle{
        width: 280px;
        height: 280px;
        top: 530px;
        right: -80px;
    }
    .right__wrapper .phones img{
        height: 300px;
        left: 10%;
        top: 650px;
    }
    .right__wrapper .phones .second__image img{
        top: 600px;
        height: 300px;
        left: 38%;
    }
    .right__wrapper .phones .third__image img{
        top: 550px;
        height: 300px;
        left: 65%;
    }
}
@media (max-width:700px){
    .menu{
        background-color: white;
    }

    .mobile__features .left__wrapper h1{
        line-height: 50px;
    }
    .mobile__features .left__wrapper{
        font-size: 24px;
        width: 100%;
    }
    .pink__circle{
        width: 280px;
        height: 280px;
        top: 190px;
        left: 120px;
    }
    .skyblue__circle{
        width: 280px;
        height: 280px;
        top: 550px;
        left: -120px;
    }
    .brisque__circle{
        width: 280px;
        height: 280px;
        top: 430px;
        right: -60px;
    }
    .right__wrapper .phones img{
        height: 200px;
        left: 15%;
        top: 520px;
    }
    .right__wrapper .phones .second__image img{
        top: 470px;
        height: 200px;
        left: 42%;
    }
    .right__wrapper .phones .third__image img{
        top: 400px;
        height: 200px;
        left: 70%;
    }
}
.third__container{
    background-color: white;
    width: 100%;
    z-index: 1;
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 14%;
    column-gap: 17%;
}
.inner__left{
    width: 40%;

}
.green__border{
    border: 15px solid rgb(61,218,131);
    border-left: none;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    width: 550px;
    height: 200px;
    position: relative; 
}
.inner__left .inner__images img{
    width: 40%;
    position: absolute;
    top: 120px;
    left: 8%;
}
.inner__right{
    width: 30%;
}
.inner__right h1{
    font-size: 61px;
    line-height: 60px;    
}
.inner__right p{
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
}
.inner__right button{
    font-weight: 400;
    color: white;
    background-color: rgb(7,48,66);
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    font-size: 13px;
    margin-top: 30px;
}
.inner__right button:hover{
    color: rgb(49,180,117);
}
@media (max-width:1000px){
    .third__container{
        flex-direction:column-reverse;
        margin-top: 460px;
    }
    .inner__left{
        width: 100%;
    }
    .green__border{
        width: 800px;
        border-radius: 150px;
        left: -60px;
        margin-top: 210px;
    }
    .inner__right{
        width: 70%;
    }
    .inner__left .inner__images img{
        width: 66%;
        top: 55%;
        left: 15%;
    }
}
@media (max-width:700px){
    .third__container{
        margin-top: 290px;
    }
    .inner__right h1{
        font-size: 45px;
    }
    .third__container{
        flex-direction:column-reverse;
    }
    .inner__left{
        width: 100%;
    }
    .green__border{
        width: 400px;
        height: 170px;
        border: 10px solid rgb(61,218,131);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        left: -60px;
        margin-top: 210px;
    }
    .inner__right{
        width: 95%;
    }
    .inner__left .inner__images img{
        width:90%;
        top: 45%;
        left: 4%;
    }
}
@media (max-width:400px){
    .inner__left .inner__images img{
        top: 70%;
    }
}
.fourth__container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 6%;
    margin-top: 15%;
    column-gap: 2%;
}
.left__wrp{
    width: 49%;
}
.left__wrp img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.left__wrp h1{
    font-size: 50px;
    line-height: 60px;
    margin-top: 20px;
}
.left__wrp p{
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
    width: 90%;
}
.left__wrp button{
    color: rgb(7,48,66);
    background: none;
    font-size: 20px;
    margin-top: 120px;
    border: none;
    font-weight: 800;
}
.left__wrp button:hover{
    display: flex;
    column-gap: 10px;
    cursor: pointer;
    transition: 1000ms;
}
.right__wrp{
    width: 49%;
}
.right__wrp img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.right__wrp h1{
    font-size: 50px;
    line-height: 60px;
    width: 80%;
    margin-top: 20px;
}
.right__wrp p{
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
    width: 90%;
}
.right__wrp button{
    color: rgb(7,48,66);
    background: none;
    font-size: 20px;
    margin-top: 30px;
    border: none;
    font-weight: 800;
}
.right__wrp button:hover{
    display: flex;
    column-gap: 10px;
    cursor: pointer;
    transition: 1000ms;
}
@media (max-width:750px){
    .fourth__container{
        margin: 3%;
        margin-top: 40%;
    }
    .left__wrp{
        width: 100%;
    }
    .left__wrp h1{
        font-size: 37px;
        width: 100%;
    }
    .left__wrp p{
        font-size: 18px;
        margin-top: 20px;
        width: 100%;
    }
    .left__wrp button{
        margin-top: 30px;
    }
    .right__wrp{
        width: 100%;
        margin-top: 15%;
    }
    .right__wrp h1{
        font-size: 37px;
        width: 100%;
        line-height: 40px;
    }
    .right__wrp p{
        font-size: 18px;
        margin-top: 20px;
        width: 100%;
    }
}
.fifth__container{
    width: 100%;
    margin-top: 200px;
}
.inner__text{
    width: 100%;
    display: flex;
    column-gap: 8%;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 90px;
}
.left h1{
    width: 90%;
    font-size: 65px;
}
.left{
    width: 40%;
    border: 17px solid rgb(215,239,254);
    padding: 12%;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    top: 0px;
    border-left: none;
}
.left__div{
    display: none;
}
.left p{
    font-size: 20px;
    line-height: 30px;
    width: 50%;
}
.left button{
    color: rgb(7,48,66);
    background: none;
    font-size: 20px;
    margin-top: 30px;
    border: none;
    font-weight: 800;
}
.left button:hover{
    display: flex;
    column-gap: 10px;
    cursor: pointer;
    transition: 1000ms;
}
.phone__container{
    width: 100%;
    height: auto;
    display: none;
}
.phone__container img{
    display: none;
    width: 100%;
    height: auto;
    display: none;
}
.right{
    width: 35%;
}
.right p{
    font-size: 20px;
    line-height: 30px;
    width: 80%;
}
.right button{
    color: rgb(7,48,66);
    background: none;
    font-size: 20px;
    margin-top: 30px;
    border: none;
    font-weight: 800;
}
.right button:hover{
    display: flex;
    column-gap: 10px;
    cursor: pointer;
    transition: 1000ms;
}
@media (max-width:750px){
    .inner__text{
        padding-top: 100px;
    }   
    .left{
        width: 100%;
    }
    .left__div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .left h1{
        font-size: 60px;
        width: 90% !important;
    }
    .left p{
        width: 80%;
    }
    .right{
        display: none;
    }
}
@media (max-width:600px){
    .inner__text{
        padding-top: 70px;
        width: 100%;
    }
    .left{
        width: 80%;
        padding-left: 3%;
        border: 12px solid rgb(215,239,254);
        border-left: none;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
    }
    .left h1{
        font-size: 45px;
        width: 120% !important;
        padding: 10% 0;
    }
    .left__div{
        display: none;
    }
    .right{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 3%;
    }
    .right p{
        font-size: 17px;
        width: 100%;
    }
    .phone__container {
        display: contents;
        height: auto;  
    }
    .phone__container img{
        display: flex;
        width: 200%;
        height: auto; 
        margin-top: -30% !important; 
    }
}
.sixth__container{
    width: 100%;
    height: auto;
    margin-top: 1 0px;
    position: relative;
    overflow-x: hidden;
}
@media (max-width:1000px){
    .sixth__container{
        margin-top: 120px;
    }
}
@media (max-width:600px){
    .sixth__container{
        display: none ;
    }
}
.sixth__container img{
    width: 230%;
    height: auto;
    object-fit: cover;
}
.seventh__container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 6%;
    margin-bottom: 0;
    margin-top: 20%;
    column-gap: 2%;
}
.seventh__container button{
    margin-top: 30px;
}
@media (max-width:1000px){
    .seventh__container{
        margin-top: 30%;
    }
}
.eight__container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 6%;
    margin-bottom: 0;
    margin-top: 12%;
    column-gap: 2%;
}
.eight__container button{
    margin-top: 30px;
}
.ninth__container{
    margin: 17% 6%;
    margin-bottom: 6%;
    display: flex;
    column-gap: 2%;
    color: rgb(7,48,66);
}
.ninth__container div{
    width: 18%;
}
.ninth__container div h4{
    border-bottom: 1px solid rgba(197, 197, 197, 0.788);
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ninth__container h4 i{
    font-size: 25px;
    display: none;
}
.ninth__container div p{
    font-weight: 400;
    margin-top: 20px;
}
.ninth__container div p:hover{
    color: rgba(7, 48, 66, 0.596);
    transition: 500ms;
    cursor: pointer;
}
@media (max-width:750px){
    .ninth__container{
        flex-direction: column;
        row-gap: 70px;
    }
    .ninth__container div{
        width: 100%;
    }
    .ninth__container div p{
        display: none;
    }
    .ninth__container h4 i{
        display: flex;
    }
}
.tenth__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 6%;
    padding-top: 3%;
    color: rgba(7, 48, 66);
    border-top: 1px solid rgba(196, 196, 196, 0.753);
}
.policy__wrap{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.inner__wrapper{
    display: flex;
    column-gap: 30px;
}
.inner__div{
    display: flex;
    align-items: center;
    column-gap: 100px;
    font-weight: 600;
}
.middle__text{
    display: none;
}
.icon__wrp{
    display: flex;
    column-gap: 30px;
    align-items: center;
    font-size: 22px;
}
.last__text{
    margin: 2% 6%;
    font-size: 13px;
    color: rgba(7, 48, 66);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
@media (max-width:1000px){
    .tenth__container{
        border: none;
        flex-wrap: wrap-reverse;
        row-gap: 20px;
    }
    .policy__wrp{
        flex-direction: column-reverse;
        width: 100%;
    }
}
@media (max-width:400px){
    .tenth__container{
        border: none;
        flex-wrap: wrap-reverse;
        row-gap: 20px;
        margin-bottom: 20px;
    }
    .inner__wrapper .privacy{
        display: none;
    }
    .middle__text{
        width: 100%;
        display: flex;
    }
}

